In [15]:
import pandas as pd
import numpy as np
import sqlite3 as sq
db=sq.connect("IMDB.sqlite")
data=pd.read_sql_query("Select * from genre",db)
data=data[data.genre !=""]
value,count=np.unique(data.genre,return_counts=True)
ind=count.argsort()
value=value[ind]
count=count[ind]
for i in range(len(value)):
    print(value[i],count[i])

Musical 1
Western 2
Horror 2
War 2
Sport 3
Music 3
Family 3
History 6
Fantasy 7
Mystery 7
Crime 11
Animation 13
Romance 13
Thriller 14
Sci-Fi 18
Biography 21
Comedy 31
Action 33
Adventure 43
Drama 77

IMDB.sqlite' database contains all details of movies and has three tables with name IMDB, genre and earning.
Find the highest-grossing movie (i.e domestic earning + worldwide earning) in IMDB database.
Print the rating of that movie.
Output Format:
rating

In [1]:
import sqlite3 as sq
import pandas as pd
import numpy as np
db.close()
db=sq.connect("IMDB.sqlite")
data=pd.read_sql_query("Select Domestic + Worldwide as dd from earning order by Domestic limit 1",db)
dt=data.to_sql("tad",db)
cur=db.cursor()
cur.execute("Select * from tad")
tu=cur.fetchone()
print(tu[1])

NameError: name 'db' is not defined

IMDB.sqlite database contains all details of movies and has three tables with name IMDB, genre and earning.
Find the movie which has maximum net profit in IMDB Movie Database.
Print the movie name.
Note: Net Profit= Total Earning(Domestic+WorldWide earning) - budget
Output Format:
movie_name

In [36]:
import sqlite3 as sq
import pandas as pd
import numpy as np
def f(a):
    if a==' ':
        return 0.0;
    return a;
db=sq.connect("IMDB.sqlite")
cur=db.cursor()
data=pd.read_sql_query("Select Title,Budget,Domestic,Worldwide from IMDB join earning on earning.Movie_id=IMDB.Movie_id ",db)
data.Budget=data.Budget.apply(f)
data.Budget=pd.to_numeric(data.Budget)
data["proft"]=data["Domestic"]+data["Worldwide"]-data["Budget"]
data=data[data.proft==max(data.proft)]
print(data.Title.values[0])

Star Wars: The Force Awakens (2015)

IMDB.sqlite database contains all details of movies and has three tables with name IMDB, genre and earning.
Find the least budgeted movie in IMDB Movie Database.
If there is more than one least budgeted movies then print the movie which has maximum net profit.
Note: Net Profit= Total Earning(Domestic+WorldWide earning) - budget
Output Format:
movie_name

In [42]:
import sqlite3 as sq
import pandas as pd
import numpy as np
def f(a):
    if a==' ':
        return 0.0;
    return a;
db=sq.connect("IMDB.sqlite")
cur=db.cursor()
data=pd.read_sql_query("Select Title,Budget,Domestic,Worldwide from IMDB join earning on earning.Movie_id=IMDB.Movie_id ",db)
data.Budget=data.Budget.apply(f)
data.Budget=pd.to_numeric(data.Budget)
data["proft"]=data["Domestic"]+data["Worldwide"]-data["Budget"]
data=data[data.Budget==min(data.Budget)]
data=data[data.proft==max(data.proft)]
print(data.Title.values[0])

Short Term 12 (2013)

IMDB Year Top
Send Feedback
IMDB.sqlite' database contains all details of movies and has three tables with name IMDB, genre and earning.
Find the highest-grossing movie (i.e domestic earning + worldwide earning) in IMDB database year wise.
Print the Year and name of the movie which was the highest grosser in that year.
Note:Print the year in ascending order.
Output Format:
year_1 name_movie_1
year_2 name_movie_2
year_3 name_movie_3
. . .
. . .

In [79]:
import sqlite3 as sq
import pandas as pd
import numpy as np
def f(a):
    if a==' ':
        return 0.0;
    return a;

def y(a):
    t=a.split()
    t=t[-1]
    t=t[1:len(t)-1]
    return t
db=sq.connect("IMDB.sqlite")
cur=db.cursor()
data=pd.read_sql_query("Select Title,Budget,Domestic,Worldwide from IMDB join earning on earning.Movie_id=IMDB.Movie_id ",db)
data["year"]=data.Title.apply(y)
data.Budget=data.Budget.apply(f)
data.Budget=pd.to_numeric(data.Budget)
data["grossing"]=data["Domestic"]+data["Worldwide"]
grouped=data.groupby("year").agg(mt=("grossing",np.max)).sort_values(ascending=True,by="year")

ins=grouped.index
val=grouped.values
for i in range(len(ins)):
    name=data[data.grossing==val[i][0]]["Title"]
    print(ins[i],name.values[0])

2010 Toy Story 3 (2010)
2011 Rise of the Planet of the Apes (2011)
2012 The Avengers (2012)
2013 The Hunger Games: Catching Fire (2013)
2014 Guardians of the Galaxy (2014)
2015 Star Wars: The Force Awakens (2015)
2016 Rogue One (2016)